{% extends "dash/base.html" %}
{% block content %}
<body>
    <head>
        {% if title%}
        <title> About Guyaki - {{ title }} </title>
        {% else %}
        <title> My Guyaki Homepage </title>
        {% endif %}
        
    </head>
    <h1>  <strong> About Guyaki </strong> </h1>
    <p> I created Guyaki as a personal project to show off my skills as an aspiring developer. This is the product of an ongoing 
        learning experience with Html, CSS, Bootstrap, Python, MySQL, Django. The basic dashboard is meant to be a space for you to track
        daily tasks and increase productivity.
    </p>
                                    
</body>

<style>
p {
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 40%; 
    font-size: 25px;
}
h1 {
    text-align: center;
    color: aliceblue;
    padding-top: 50px;
    padding-bottom: 30px;
    
}
</style>
{% endblock content %}

<!DOCTYPE html>

<html>



</html>