<!-- Use base formatting -->
{% extends "dash/base.html" %}
{% block content %}
<!--Serve Static Files-->
{% load static %}

<!DOCTYPE html>
<html >
  <style>
    
  </style>
<head>
  <title>Home</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Static Styles CSS -->
  <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

</head>
<body>
  <div class="wrapper">
    <header>Todo App</header>
    <div class="inputField">
      <input type="text" placeholder="Add your new todo">
      <button><i class="fas fa-plus"></i></button>
    </div>
    <ul class="todoList">
      <!-- data are comes from local storage -->
    </ul>
    <div class="footer">
      <span>You have <span class="pendingTasks"></span> pending tasks</span>
      <button>Clear All</button>
    </div>
  </div>
  <script src="{% static '/js/styles.js' %}"></script>
</body>
</html>
{% endblock content %}
